selenium==4.18.1
requests==2.31.0
pandas==2.1.4
python-dotenv==1.0.1
schedule==1.2.1
webdriver-manager==4.0.1
pyvirtualdisplay==3.0
numpy==1.23.5
pytz==2023.3
flask==2.3.2
lxml==4.9.3
html5lib==1.1
beautifulsoup4==4.12.2 